.p1{
    font-family:  Arial;
    font-weight:bold;
    font-size: 15px;
    text-align: center;
}
.p2{
    font-family:  Arial;
    font-size: 15px;
    text-align: center;
}
.s1{
    text-decoration:underline;
}